body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 5rem;
  text-align: center;
  padding: 1.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
