.quizCard {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 30px;
    height: 70vh;
    margin-bottom: 100px;
}

.quiz {
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.questionNum {
    color: var(--font);
}

ul {
    margin-top: 20px;
    padding: 10px;
}

li {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 16px;
    background: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.selected {
    color: white;
    background: linear-gradient(#cc333c, #521217)
}

.btn {
    text-align: center;
}

button {
    border-radius: 8px;
    background-color: var(--font);
    padding: 5px 5px;
}

.result-section {
    display: flex;
    justify-content: center;
}

.results {
    text-align: center;
    padding: 5px 0px 0px 0px;
    background-color: white;
    border: #cc333c solid 2px;
    padding: 8px 5px 0px 5px;
}

.homepageCard {
    display: flex;
    text-align: center;
    padding: 0;
}

.heroImage {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 5rem auto auto auto;
  width: 25rem;
}

.Welcome { 
  display: flex;
  justify-content: center;
}

.welcomeType {
  display: flex;
  justify-content: start;
  margin: auto;
  padding: 3rem 0 0 0;
  font-size: 2rem;
}