.Banner {
  margin: auto;
  align-items: center;
}

.row {
  display: flex; 
  justify-content: center;
  height: 115vh;
}

.profileCard {
  margin: 0 0 0 0; 
}

.card-body {
  text-align: center;
  padding: 1rem 0 0 0 
}

.list-group.list-group-flush {
  margin: auto;
  padding: 0;
  align-items: center;
  border-radius: 10% 30% 50% 70%;
}

.list-group-item {
  background-color: var(--background);
  padding: 1rem 2rem 1rem 2rem ;
  font-size: 1.5rem;
  color: #36382E
}

.card-link {
  text-align: center; 
  width: 55%;
  margin: auto;
}

.cardLink {
  font-size: 1.2rem;
}

a {
  color: #36382E;
}

.card {
  padding: 3rem 0 0 0rem;
  border: none;
  background-color: transparent;
}

.cardBody {
  text-align: center;
  background: #9C89B8;
  padding: 1.5rem 5rem 1.5rem 5rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

.btn-primary {
  color: white;
  background-color: var(--font);
  border: none;
}

.btn-primary:hover {
  color: white;
  background-color: #4F9D69;
  border: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  color: var(--font) !important;
}


.profileIcon {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

