.Banner {
  margin: auto;
  padding: 2.4rem 0 0 0;
  align-items: center;
  font-size: 4rem;
}

.row {
  display: flex; 
  justify-content: center;
  height: 65vh;
  
}


.profileCard {
  margin: 0 0 0 0; 
}

.card-body {
  text-align: center;
  padding: 1rem 0 0 0;
  border: 1px solid;
}

.list-group.list-group-flush {
  margin: auto;
  padding: 0;
  align-items: center;
  /* border: 1px solid; */
}

.list-group-item {
  background-color: var(--background);
  padding: 1rem 2rem 1rem 2rem ;
  font-size: 1.5rem;
  color: #36382E
}

.card-link {
  text-align: center; 
  width: 55%;
  margin: auto;
}


a {
  color: #36382E;
}

.card {
  padding: 3rem 0 0 0rem;
  border: none;
  background-color: transparent;
}


.btn-primary {
  color: white;
  background-color: var(--font);
  border: none;
  padding: 1rem 2rem 1rem 2rem 
}

.retakeType {
  margin:.2rem;
}

.btn-primary:hover {
  color: white;
  background-color: #4F9D69;
  border: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  color: var(--font) !important;
}


.profileIcon {
  border: 3px solid;
}

.deleteContainer {
  display: flex;
  justify-content: end;
}

.btn-secondary {
  border-radius: .3rem;
  width: 10rem;
  height: 3rem;
}

.type { 
  color: white;
  padding: .5rem;
}



