footer {
  background-color: var(--background);
  color: var(--font);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-top: solid;
  margin: auto;

  position: absolute;
  left: 0️;
  bottom: 0️;
  right:0;
}

.social-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer svg {
  color: var(--font);
  width: fit-content;
  margin: 1rem;
}

footer p {
  font-size: .9rem;
}

