.modal-header {
    background-color: var(--background);
    border: none;
  }
  
  .modal-body {
    background-color: var(--background);
  }
  
  
  .NavBar {
    border-bottom: solid;
    background-color: transparent;
    color: var(--font);
    max-width: 90rem;
    margin: auto;
    align-items: center;
    padding: 2rem 0 1rem 0;
  }

  .brandTitle {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 3rem;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--background);
      background-color: var(--font);
  }
  
  a {
    color: var(--font)
  }
  
  a:hover{
    color: black;
  }
  
  .btn-success.disabled, .btn-success:disabled {
    color: var(--background);
  }


  
  h1 {
    font-family: 'Libre Baskerville', serif;
    /* font-size: 60px; */
    color: var(--font);
    margin: auto;
  }
  
  h3 {
    color: var(--font);
    text-decoration: none;
  }
  .profileBtn {
    color: var(--background)
  }
  
  .logoutButton {
  background: none; 
  border: none; 
  
  
  }

btn-primary:hover {
  color: white;
  background-color: #4F9D69;
  border: none;
  }

