.modal-header {
    background-color: var(--background);
    border: none;
  }
  
  .modal-body {
    background-color: var(--background);
  }
  
  
  .NavBar {
    border-bottom: solid;
    background-color: transparent;
    color: var(--font);
    max-width: 90rem;
    margin: auto;
    padding-top: 1.5rem;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--background);
      background-color: var(--font);
  }
  
  a {
    color: var(--font)
  }
  
  a:hover{
    color: black;
  }
  
  .btn-success.disabled, .btn-success:disabled {
    color: var(--background);
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 60px; */
    color: var(--font);
    margin: auto;
  }
  
  h3 {
    color: var(--font)
  }
  
  .logoutButton {
  background: none; 
  border: none; 
  
  
  }

  .btn-info {
    background-color: var(--font);
    border: none;
  }

  .btn-info:hover {
    background-color: #4F9D69;
    border: none;
  }